<section class="hero section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xl-12 text-center">
        <div class="hero-title mb-5">
          <h1>Eat what you want, <span>where you want</span></h1>
        </div>
      </div>
      <!-- form section start -->
      <div class="hero-form d-inline-flex row">
        <mat-form-field class="col-md-5 col-sm-5">
          <mat-select>
            <mat-option value="10px">10px</mat-option>
            <mat-option value="12px">12px</mat-option>
            <mat-option value="14px">14px</mat-option>
            <mat-option value="16px">16px</mat-option>
            <mat-option value="18px">18px</mat-option>
            <mat-option value="20px">20px</mat-option>
          </mat-select>
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-md-5 col-sm-5">
          <input matInput placeholder="Near Dhanmondi">
          <mat-icon matPrefix>place</mat-icon>
        </mat-form-field>
        <div class="col-md-2 text-center">
          <button mat-flat-button color="warn" class="search-btn">Search</button>
        </div>
      </div>
      <!-- form section end-->
      <!-- categories button group start-->
      <div class="button-row row pt-5">
        <div class="col-md-12 col-12 col-sm-12 text-center">
          <a class="btn-light" mat-flat-button routerLink=".">Chinese</a>
          <a class="btn-light" mat-flat-button routerLink=".">Indian</a>
          <a class="btn-light" mat-flat-button routerLink=".">Cousine</a>
          <a class="btn-light" mat-flat-button routerLink=".">Bangla</a>
          <a class="btn-light" mat-flat-button routerLink=".">Fast Food</a>
        </div>
      </div>
      <!-- categories button group end-->
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="hero-bg-img">
          <img class="img-fluid" src="../../../assets/homepage/bg.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
