<header [class.sticky] = "sticky">
  <div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="../../assets/homepage/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
     <mat-icon>menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{ 'show': navbarOpen }">
      <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown text-uppercase">
          <div class="dropdown dot">
            <a href="#" class="nav-link">restaurants</a>
            <div class="dropdown-content">
              <a href="#">restaurant 1</a>
              <a href="#">restaurant 2</a>
              <a href="#">restaurant 3</a>
              <a href="#">restaurant 4</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown text-uppercase">
          <div class="dropdown dot">
            <a href="#" class="nav-link">categories</a>
            <div class="dropdown-content">
              <a href="#">category 1</a>
              <a href="#">category 2</a>
            </div>
          </div>
        </li>
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="#">write a reviews</a>
        </li>
        <li class="nav-item text-uppercase">
          <a mat-flat-button class="signup-btn" href="#">sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header>
