@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=devanagari,vietnamese');

$bg: #EEEFE9;

.section {
  padding: 300px 0 0 0;
}

.hero {
  background: $bg;
  font-family: 'Poppins', sans-serif;
}

.button-row a {
  margin-right: 8px;
}

.button-row {
  margin: 0 auto;
}

.hero-form {
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  align-items: flex-end;
}

.form-full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.search-btn {
  padding: 5px 50px;
  margin: 12px 15px;
}

/************ button group **************/
.btn-light {
  font-family: var(--Poppins);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 2px;
  color: #9d9b9c;;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #e9eae2;
  border-radius: 3px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 10;

}


.btn-light:hover {
  border: 1px solid #FF6D63;
  color: #ffffff !important;
}

.btn-light::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #FF6D63;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.btn-light::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #ee8a1a;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
  -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
  -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
  transition: all .4s cubic-bezier(.2, .95, .57, .99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.btn-light:hover::before, .btn-light:hover::before {
  opacity: 1;
  width: 116%;
}

.btn-light:hover::after, .btn-light:hover::after {
  opacity: 1;
  width: 120%;
}
