<header>
  <nav class="navbar fixed-top navbar-expand-md" style="background-color: #EEEFE9;">
    <a class="navbar-brand" routerLink="/restaurant">
      <img src="./assets/homepage/logo.png" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <div class="mr-auto"></div>
      <!-- form section start -->
<!--      <div class="hero-form d-inline-flex row">-->
<!--        <mat-form-field class="col-md-5 col-sm-5">-->
<!--          <mat-select>-->
<!--            <mat-option value="10px">10px</mat-option>-->
<!--            <mat-option value="12px">12px</mat-option>-->
<!--            <mat-option value="14px">14px</mat-option>-->
<!--            <mat-option value="16px">16px</mat-option>-->
<!--            <mat-option value="18px">18px</mat-option>-->
<!--            <mat-option value="20px">20px</mat-option>-->
<!--          </mat-select>-->
<!--          <mat-icon matPrefix>search</mat-icon>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field class="col-md-5 col-sm-5">-->
<!--          <input matInput placeholder="Input">-->
<!--          <mat-icon matPrefix>place</mat-icon>-->
<!--        </mat-form-field>-->
<!--        <div class="col-md-2 text-center">-->
<!--          <button mat-flat-button color="warn" class="search-btn">Search</button>-->
<!--        </div>-->
<!--      </div>-->
      <!-- form section end-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-uppercase mr-3">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item text-uppercase">
          <a mat-flat-button class="signup-btn" href="#">sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

