<section class="right-sidebar-section">
  <div class="venue-card">
    <div class="row">
      <div class="col-md-12">
        <div class="venue-info">
          <h5 class="text-capitalize">venue info</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="address-info">
          <p class="p-0 m-0">address</p>
          <div><small>Hämeenkatu 7, 20500 Turku</small></div>
          <button mat-mini-fab>
            <mat-icon class="mat-18">near_me</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="opening-time">
          <p class="p-0 m-0">opening time</p>
          <p class="p-0 m-0"><small>RESTAURANT<span>Delivery</span></small></p>
          <p class="p-0 m-0"><small>Monday - Sunday<span>00:00 - 24:00</span></small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="venue-text">
    <div class="row">
      <div class="col-md-12">
        <p>If you have allergies or other dietary restrictions, contact the restaurant. The restaurant will provide
          food-specific information upon request.</p>
        <div class="telephone-num">
          <h6>+358505127022</h6>
        </div>
      </div>
    </div>
  </div>
</section>
