.venue-card {
  background: #FAFAFA;
  padding: 25px 30px;
  font-family: 'Cabin', sans-serif;
}

.venue-text p {
  color: #868789;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  margin-top: 25px;
}
