<section class="details-section mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <app-left-sidebar></app-left-sidebar>
      </div>
      <div class="col-md-7">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="category-title">
              <h3>promotion</h3>
            </div>
          </div>
        </div>
        <div class="item-details-card promotion" *ngFor="let item of promotions">
          <div class="row">
            <div class="col-md-12 text-align-end">
              <button mat-stroked-button color="warn">
                <mat-icon>add</mat-icon>
                Add
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="item-image">
                 <img class="img-fluid" src="{{item.image}}" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <div class="item-details">
                <div class="item-name">
                  <h4><a href="">{{item.title}}</a></h4>
                </div>
                <div class="item-details">
                  <p>{{item.text}}</p>
                </div>
                <div class="emoji d-inline-flex">
                  <img width="30%" src="./assets/restaurant/happy.png" alt="">
                  <h5 class="ml-3">4.2</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-12">
            <div class="category-title">
              <h3>Sub Meals</h3>
            </div>
          </div>
        </div>
        <div class="sub-meal item-details-card" *ngFor="let item of subi_meals">
          <div class="row">
            <div class="col-md-12 text-align-end">
              <button mat-stroked-button color="warn">
                <mat-icon>add</mat-icon>
                Add
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="item-image">
                <img class="img-fluid" src="{{item.image}}" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <div class="item-details">
                <div class="item-name">
                  <h4><a href="">{{item.title}}</a></h4>
                </div>
                <div class="item-details">
                  <p>{{item.text}}</p>
                </div>
                <div class="emoji d-inline-flex">
                  <img width="30%" src="{{item.emoji}}" alt="">
                  <h5 class="ml-3">4.2</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-right-sidebar></app-right-sidebar>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
