.restaurant-banner {
  background: url("../../../assets/restaurant/banner.png") center center;
  background-size: cover;
  height: 716px;
  position: relative;
}

.overlay {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 25%;
  width: 100%;
}

.overlay-title {
  padding: 25px 0 10px 0;
}

.schedule-cart {
  padding: 100px 0 0 0;
  color: #fff;
}

.button-row {
  opacity: .5;
}

.button-row a {
  margin-right: 8px;
}

.schedule {
  text-align: left;
}

.open-close-time {
  text-align: center;
}

.open-close-time a {
  color: #FFFFFF;
}

.open-close-time a mat-icon {
  font-size: 18px;
}

.shopping-cart {
  text-align: right;
}

.react-card {
  height: 100%;
  padding: 50px 0;
  background: #fff;
  width: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  transform: translate(0%, -20%);
  visibility: visible;
}

.react-card h5 {
  margin: 0;
}

.icon img {
  width: 10%;
}

.icon {
  margin: 15px 0;
}

.love-react {
  margin: 18px 0 0 0;
}
