<section class="restaurant-banner">
  <div class="schedule-cart">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="schedule">
            <p class="text-capitalize">schedule for later</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <div class="open-close-time">
            <a href="">Open today: 00:00-24:00
              <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="shopping-cart mr-auto">
            <button mat-fab color="white" style="opacity: 0.5;" type="button" id="navToggle">
              <mat-icon>shopping_cart</mat-icon>
            </button>
            <div class="navbar-collapse offcanvas-collapse">
              <app-cart></app-cart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-6">
          <div class="overlay-title row">
            <div class="col-md-12">
              <h1 class="text-white text-capitalize">subway</h1>
            </div>
          </div>
          <div class="button-row row">
            <div class="col-md-12 col-12 col-sm-12">
              <a class="btn-light" mat-flat-button routerLink=".">Sub</a>
              <a class="btn-light" mat-flat-button routerLink=".">Bread</a>
              <a class="btn-light" mat-flat-button routerLink=".">Lunch</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="react-card card">
            <div class="card-heading">
              <h4>Leipä valitsemillasi
                täytteillä</h4>
            </div>
            <div class="icon">
              <img src="./assets/restaurant/happy.png" alt="">
            </div>
            <div class="react-count">
              <h5>8.2</h5>
              <small>out of 10</small>
            </div>
            <div class="love-react">
              <button mat-stroked-button color="accent">
                <img src="./assets/restaurant/Shape.png" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
