<div class="container mt-3">
  <div class="col-md order-md-1">
    <h4 class="mb-3">Billing Address</h4>
    <form class="needs-validation" #userDetailsForm="ngForm">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Full name</label>
          <input type="text" readonly class="form-control" [(ngModel)]="customerInfo.FullName"
                 name="firstName">
        </div>
        <div class="col-md-6 mb-3">
          <label for="email">Email
          </label>
          <input type="email" class="form-control" id="" [(ngModel)]="customerInfo.email" name="email"
                 readonly>
        </div>
      </div>
      <hr class="mb-4">

    </form>
  </div>
  <div class="float-right">
    <a class="btn btn-success " [routerLink]="['/checkout/payment-information']"
    >Next</a>
  </div>
</div>
