<section class="footer-top border-bottom">
  <div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-logo">
          <img src="../../../assets/homepage/footer-logo.png" alt="">
        </div>
        <ul class="d-flex p-0 m-0 mt-5 social-icon">
          <li><a href=""><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a></li>
          <li><a href=""><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a></li>
          <li><a href=""><fa-icon [icon]="['fab', 'google-plus-g']"></fa-icon></a></li>
          <li><a href=""><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a></li>

        </ul>
      </div>
      <div class="col-md-2">
        <ul class="p-0 m-0 navigation-list">
          <li><h5 class="font-weight-bold">Navigation</h5></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Restaurant</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Write a review</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="p-0 m-0 link-list">
          <li><h5 class="font-weight-bold">Links</h5></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Marchant</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Documentation</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="p-0 m-0 download">
          <li><h5 class="font-weight-bold">Download App</h5></li>
          <li><a href="#"><img class="img-fluid mt-1 mb-1" src="../../../assets/homepage/ios.png" alt=""></a></li>
          <li><a href="#"><img class="img-fluid mt-1" src="../../../assets/homepage/android.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
