.section{
    padding: 100px 0;
}

.restaurants-nearby{
  background: #ffffff;
}

.restaurant .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;

}

.carousel-inner {
    padding: 2px;
}

/* The colour of the indicators */
//.restaurant .carousel-indicators li {
//  background: #a3a3a3;
//  border-radius: 50%;
//  width: 8px;
//  height: 8px;
//}

//.restaurant .carousel-indicators .active {
//  background: #707070;
//}

.restaurant-card {
  height: 100%;
}

.image-card {
  height: 270px;
  width: 100%;
}
.image-card img{
  width: 100%;
}
