<section class="restaurants-nearby section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="main-title">Restaurants Nearby</h2>
      </div>
    </div>
    <div class="row restaurant">
      <div class="col-md-12">
        <div id="restaurantCarousel" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#restaurantCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#restaurantCarousel" data-slide-to="1"></li>
          </ol>

          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                  <mat-card class="restaurant-card">
                    <div class="image-card">
                      <img class="img-fluid" mat-card-image src="../../../assets/homepage/RN1.png"
                           alt="Restaurant">
                    </div>
                    <mat-card-content>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      <small>
                        <mat-icon>access_time</mat-icon>
                        5 minute ago
                      </small>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                  <mat-card class="restaurant-card">
                    <div class="image-card">
                      <img class="img-fluid" mat-card-image src="../../../assets/homepage/RN2.png"
                           alt="Restaurant">
                    </div>
                    <mat-card-content>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      <small>
                        <mat-icon>access_time</mat-icon>
                        5 minute ago
                      </small>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                  <mat-card class="restaurant-card">
                    <div class="image-card">
                      <img class="img-fluid" mat-card-image src="../../../assets/homepage/RN3.png"
                           alt="Restaurant">
                    </div>
                    <mat-card-content>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      <small>
                        <mat-icon>access_time</mat-icon>
                        5 minute ago
                      </small>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->

            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                  <mat-card class="restaurant-card">
                    <div class="image-card">
                      <img class="img-fluid" mat-card-image src="../../../assets/homepage/RN2.png"
                           alt="Restaurant">
                    </div>
                    <mat-card-content>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      <small>
                        <mat-icon>access_time</mat-icon>
                        5 minute ago
                      </small>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                  <mat-card class="restaurant-card">
                    <div class="image-card">
                      <img class="img-fluid" mat-card-image src="../../../assets/homepage/RN1.png"
                           alt="Restaurant">
                    </div>
                    <mat-card-content>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      <small>
                        <mat-icon>access_time</mat-icon>
                        5 minute ago
                      </small>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                  <mat-card class="restaurant-card">
                    <div class="image-card">
                      <img class="img-fluid" mat-card-image src="../../../assets/homepage/RN3.png"
                           alt="Restaurant">
                    </div>
                    <mat-card-content>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      <small>
                        <mat-icon>access_time</mat-icon>
                        5 minute ago
                      </small>
                    </mat-card-content>
                  </mat-card>
                </div>
                <!--.row-->
              </div>
              <!--.item-->

            </div>
            <!--.carousel-inner-->
          </div>
          <!--.Carousel-->

        </div>
      </div>
    </div>
  </div>
</section>
