.section {
  padding: 100px 0;
}

.restaurants-nearby {
  background: #ffffff;
}

.restaurant .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;

}

.carousel-inner {
  padding: 25px 20px;
}

/* The colour of the indicators */
//.restaurant .carousel-indicators li {
//  background: #a3a3a3;
//  border-radius: 50%;
//  width: 8px;
//  height: 8px;
//}

//.restaurant .carousel-indicators .active {
//  background: #707070;
//}

.restaurant-card {
  height: 100%;
  cursor: pointer;
  border: none;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}

.image-card {
  height: 270px;
  width: 100%;
}

.image-card img {
  width: 100%;
}

.rating-list li mat-icon {
  color: #ED8A19;
  font-size: 14px;
  margin-right: -10px;
}

.time mat-icon {
  font-size: 14px;
}

mat-card-title {
  display: block;
  margin-bottom: 8px;
  color: #000;
  font-size: 23px;
}
