<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 text-center">
        <h1 class="main-title">20% OFF on your first order by subscribing to our newsletters!</h1>
        <p class="newsletter-text">Don't miss out on our great offers & Receive deals from all our top vendors via
          e-mail</p>
      </div>
    </div>
    <!--Form field start-->
    <div class="row">
      <div class="col-md-12">
        <div class="example-container newsletter-form form-row">
          <mat-form-field class="col-md-6 col-sm-6">
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-6 col-sm-6">
            <input matInput placeholder="Enter Your Email Address">
          </mat-form-field>
        </div>
      </div>
    </div>
    <!--Form field end-->
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <a href="#" class="subscribe-btn"><span>subscribe newsletter</span></a>
      </div>
    </div>
  </div>
</section>
