<div class="container about-us p-0 shadow bg-white rounded">
  <div class="row">
    <div class="col-md-6">
      <div class="about-us-details">
        <div class="sub-title">
          <h4>What they say about us</h4>
        </div>
        <h2 class="main-title">We ease the interaction among shops and shoppers</h2>
        <p class="about-us-text">To ease the interaction between the shop owners and the purchasers, Testro make
          personalised notification to the purchasers.</p>
        <button color="warn" mat-icon-button class="mat-18">
          <mat-icon class="mat-18">trending_flat</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="video-img">
        <img class="img-fluid" src="../../../assets/homepage/video.png" alt="">
      </div>
    </div>
  </div>
</div>
