.about-us {
  background: #ffffff;
  position: absolute;
  margin: 0 auto !important;
  right: 0;
  left: 0;
  z-index: 1;
}

video[poster] {
  height: 100% !important;
  width: 100% !important;
}

.progress {
  display: none !important;
}

.video-img {
  position: relative;
  height: 100%;
  width: 100%;
}

.play-btn {
  position: absolute;
  top: 45%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.play-btn button {
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.about-us-details {
  padding: 130px 55px 200px 55px;
}
